# Assingment NO :03

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
dataset =  "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [56]:
df = pd.read_csv(dataset,header=None)

In [57]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [58]:
df = pd.read_csv(dataset,names = col_names)

In [46]:
df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal_Length  150 non-null    float64
 1   Sepal_Width   150 non-null    float64
 2   Petal_Length  150 non-null    float64
 3   Petal_Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [74]:
df.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

# Central Tendency

### 1) Mean

In [86]:
print("The mean of column Sepal_Length:",df.loc[:,"Sepal_Length"].mean())

The mean of column Sepal_Length: 5.843333333333334

In [88]:
print("The mean of column Sepal_Witdh:",df.loc[:,"Sepal_Width"].mean())

The mean of column Sepal_Witdh: 3.0540000000000003

In [90]:
print("The mean of column Petal_Length:",df.loc[:,"Petal_Length"].mean())

The mean of column Petal_Length: 3.758666666666666

In [94]:
print("The mean of column Petal_Width:",df.loc[:,"Petal_Width"].mean())

The mean of column Petal_Width: 1.1986666666666668

### 2) Mode

In [121]:
print("The mode of column Sepal_Length:",df.loc[:,"Sepal_Length"].mode())

The mode of column Sepal_Length: 0    5.0
Name: Sepal_Length, dtype: float64

In [119]:
print("The mode of column Sepal_Width:",df.loc[:,"Sepal_Width"].mode())

The mode of column Sepal_Width: 0    3.0
Name: Sepal_Width, dtype: float64

### 3) Median

In [117]:
print("The median of column Sepal_Length:",df.loc[:,"Sepal_Length"].median())

The median of column Sepal_Length: 5.8

In [115]:
print("The median of column Sepal_Width:",df.loc[:,"Sepal_Width"].median())

The median of column Sepal_Width: 3.0

# Dispersion

### 1) Standard Deviation

In [113]:
print("The Standard Deviation of column Sepal_Length:",df.loc[:,"Sepal_Length"].std())

The Standard Deviation of column Sepal_Length: 0.8280661279778629

In [123]:
print("The Standard Deviation of column Sepal_Width:",df.loc[:,"Sepal_Width"].std())

The Standard Deviation of column Sepal_Width: 0.4335943113621737

### 2) Max

In [143]:
array1 = np.array(df["Sepal_Length"])

In [145]:
array2 = np.array(df["Petal_Length"])

In [147]:
print("Sepal_Length Array",array1)

Sepal_Length Array [5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 5.7 6.3 4.9 6.6 5.2 5.  5.9 6.  6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 6.3 5.6 5.5
 5.5 6.1 5.8 5.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 7.2
 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]

In [149]:
print("Petal_Lenght Array",array2)

Petal_Lenght Array [1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 1.5 1.6 1.4 1.1 1.2 1.5 1.3 1.4
 1.7 1.5 1.7 1.5 1.  1.7 1.9 1.6 1.6 1.5 1.4 1.6 1.6 1.5 1.5 1.4 1.5 1.2
 1.3 1.5 1.3 1.5 1.3 1.3 1.3 1.6 1.9 1.4 1.6 1.4 1.5 1.4 4.7 4.5 4.9 4.
 4.6 4.5 4.7 3.3 4.6 3.9 3.5 4.2 4.  4.7 3.6 4.4 4.5 4.1 4.5 3.9 4.8 4.
 4.9 4.7 4.3 4.4 4.8 5.  4.5 3.5 3.8 3.7 3.9 5.1 4.5 4.5 4.7 4.4 4.1 4.
 4.4 4.6 4.  3.3 4.2 4.2 4.2 4.3 3.  4.1 6.  5.1 5.9 5.6 5.8 6.6 4.5 6.3
 5.8 6.1 5.1 5.3 5.5 5.  5.1 5.3 5.5 6.7 6.9 5.  5.7 4.9 6.7 4.9 5.7 6.
 4.8 4.9 5.6 5.8 6.1 6.4 5.6 5.1 5.6 6.1 5.6 5.5 4.8 5.4 5.6 5.1 5.1 5.9
 5.7 5.2 5.  5.2 5.4 5.1]

In [153]:
print("Maximum in Array1(Sepal_Length): ",max(array1))

Maximum in Array1(Sepal_Length):  7.9

In [155]:
print("Maximum in Array2(Petal_Length): ",max(array2))

Maximum in Array2(Petal_Length):  6.9

### 3) Min

In [160]:
print("Minimum in Array1(Sepal_Length): ",min(array1))

Minimum in Array1(Sepal_Length):  4.3

In [162]:
print("Minimum in array2(Petal_Lenght): ",min(array2))

Minimum in array2(Petal_Lenght):  1.0

## Inter Quantile Range

In [210]:
Q1 = df["Sepal_Length"].quantile(0.25)
Q1

5.1

In [214]:
Q2 = df["Sepal_Length"].quantile(0.5)
Q2

5.8

In [216]:
Q3 = df["Sepal_Length"].quantile(0.75)
Q3

6.4

In [222]:
IQR =  Q3- Q1
print("Inter Quantile Range: ", IQR)

Inter Quantile Range:  1.3000000000000007

## Use of df.describe()

In [241]:
df.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Use of df.groupby()

In [250]:
groupby = df.groupby("Species")

In [252]:
groupby

In [264]:
groupby.describe().sum()

Sepal_Length  count    150.000000
              mean      17.530000
              std        1.504540
              min       14.100000
              25%       16.625000
              50%       17.400000
              75%       18.400000
              max       20.700000
Sepal_Width   count    150.000000
              mean       9.162000
              std        1.017319
              min        6.500000
              25%        8.450000
              50%        9.200000
              75%        9.850000
              max       11.600000
Petal_Length  count    150.000000
              mean      11.276000
              std        1.195317
              min        8.500000
              25%       10.500000
              50%       11.400000
              75%       12.050000
              max       13.900000
Petal_Width   count    150.000000
              mean       3.596000
              std        0.579612
              min        2.500000
              25%        3.200000
              50%        3.500000
              75%        4.100000
              max        4.900000
dtype: float64