# Assingnment No : 01  (DATA WRANGLING I)

In [114]:
import pandas as pd
import numpy as np

### Using Kaggle Dataset

In [115]:
csv_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [116]:
iris = pd.read_csv(csv_url,header= None)

### Give the Column Name

In [117]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris = pd.read_csv(csv_url, names = col_names)

In [118]:
iris

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [121]:
iris.head()    # Print top most element of the dataframe

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [122]:
iris.tail()   # Print the bottom element of the dataframe

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [123]:
iris.index    # Give the starting and the ending index of the dataframe

RangeIndex(start=0, stop=150, step=1)

In [124]:
iris.columns  # Give the column name of the dataframe and datatype

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [41]:
iris.shape    # Give the range of the row and column (row,Column)

(150, 5)

In [125]:
iris.dtypes   # Give the datatypes of Each Column

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [126]:
iris['Species']  # Print that Specific Column

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [45]:
iris.iloc[5]

Sepal_Length            5.4
Sepal_Width             3.9
Petal_Length            1.7
Petal_Width             0.4
Species         Iris-setosa
Name: 5, dtype: object

In [46]:
iris[0:3]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [47]:
iris.loc[:,["Sepal_Length","Species"]]

     Sepal_Length         Species
0             5.1     Iris-setosa
1             4.9     Iris-setosa
2             4.7     Iris-setosa
3             4.6     Iris-setosa
4             5.0     Iris-setosa
..            ...             ...
145           6.7  Iris-virginica
146           6.3  Iris-virginica
147           6.5  Iris-virginica
148           6.2  Iris-virginica
149           5.9  Iris-virginica

[150 rows x 2 columns]

In [48]:
iris.iloc[:5,:]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [50]:
iris.iloc[:,:3]

     Sepal_Length  Sepal_Width  Petal_Length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [52]:
iris.iloc[:5,:5]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [60]:
iris.isnull()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [61]:
iris.isnull().any()

Sepal_Length    False
Sepal_Width     False
Petal_Length    False
Petal_Width     False
Species         False
dtype: bool

In [72]:
iris.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [75]:
iris.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

In [76]:
iris.isnull().sum(axis=0)

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

## Data Formatting and Normalization

### A) Data Formatting

In [77]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [80]:
iris['Petal_Length']=iris['Petal_Length'].astype("int")

In [81]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length      int32
Petal_Width     float64
Species          object
dtype: object

### B) Normalization

In [89]:

from sklearn import preprocessing
from sklearn.datasets import load_iris

In [90]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [91]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [92]:
x = df[['sepal length (cm)']].values.astype(float)

In [96]:
min_max_scalar = preprocessing.MinMaxScaler()

In [97]:
x_scaled = min_max_scalar.fit_transform(x)

In [98]:
df_normalized = pd.DataFrame(x_scaled, columns =["Normalized Sepal Length"])

In [99]:
df_normalized

     Normalized Sepal Length
0                   0.222222
1                   0.166667
2                   0.111111
3                   0.083333
4                   0.194444
..                       ...
145                 0.666667
146                 0.555556
147                 0.611111
148                 0.527778
149                 0.444444

[150 rows x 1 columns]

# Handling Categorical Variables

###  Label Encoding

In [100]:
df['Species'] = iris.target

In [102]:
df["Species"].unique()

array([0, 1, 2])

In [103]:
label_encoder = preprocessing.LabelEncoder()

In [105]:
df["Species"] = label_encoder.fit_transform(df["Species"])

In [108]:
df["Species"].unique()

array([0, 1, 2], dtype=int64)